<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>ようこそ、Web技術入門シリーズ課題のトップページへ！</h1>
    <% require 'pg' %>
    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>
    <% result1 = connection.exec("select give_for, weight from crops WHERE  give_for != '自家消費';") %>
    <!-- ボタンを押すと、譲渡先が自家消費ではないもののgoyaの情報を載せたページが表示される機能を実装 -->
    <% data1 = [] %>
    <% result1.each do |record| %>
      <%  data1 << "ゴーヤの大きさ：#{record["weight"]}　売った相手：#{record["give_for"]}" %>
    <% end %>
    <form action="goya.cgi" method="POST">
       下記のボタンを押すと、『譲渡先が自家消費ではない』ゴーヤの、大きさと売った相手の情報ページに飛びます<br><br>
      <input type="text" name="goya" value="<%= data1.join(' ') %>">
      <input type="submit" name="送信" >
    </form>
    <!-- ボタンを押すと、品質が悪いもの（false）のgoyaの情報を載せたページが表示される機能を実装 -->
    <% result2 = connection.exec("select give_for, weight from crops WHERE  quality = false;") %>
    <% data2 = [] %>
    <% result2.each do |record| %>
      <%  data2 << "ゴーヤの大きさ：#{record["weight"]}　売った相手：#{record["give_for"]}" %>
    <% end %>
    <form action="goya.cgi" method="POST">
       下記のボタンを押すと、『品質が悪い』ゴーヤの、大きさと売った相手の情報ページに飛びます<br><br>
      <input type="text" name="goya" value="<%= data2.join(' ') %>">
      <input type="submit" name="送信" >
    </form>
  </body>
</html>
